/*
Theme Name: LAFFEA
Theme URI: https://LAFEEA.com
Author: IN Junior
Author URI: https://injunior.com.br/
Description: Projeto Lafeea
Version: 1.0
*/
@import'./css/reset.css';
@import './css/404.css';
@import'./css/header.css';
@import'./css/footer.css';
@import './css/formularioDuvidas.css';
@import './css/formularioCadastro.css';
@import'./css/form.css';
@import'./css/single.css';
@import'./css/archProjetos.css';
@import'./css/taxonomy.css';

@import'./css/page-home.css';
@import'./css/page-projetos.css';
@import'./css/page-faq.css';
@import'./css/page-noticias.css';

/* *{
   text-decoration: none; 
}*/

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.title-font {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.align-content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  /* padding: 0px 40px; */
  margin: 0 auto;
  /* gap: 40px; */
}

/* Imagem com contorno verde e texto do lado */
.contour-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap:40px; */
  justify-content: space-evenly;
}
 /* .contour-container div {
 margin: 30px; 
  
}*/

.contour-container .textos{
  display: flex;
  flex-direction: column;
  /* padding: 0px 20px; */
  width: 500px;
  text-align: center;
}

.contour-container .textos h2 {
  padding-bottom: 35px;

}

.projetos-list-home {
  display: flex;
  flex-direction: column;
}

.img-div{
  position: relative;
  z-index: 1;
  width: 500px;
}


.img-div img {
  width: 500px;
  height: 300px;  
  background-color: #4ad157;  
}



.img-div::before{
  content: "";
  position: absolute;
  width: 97%;
  height: 97%;
  border: 4px solid #4ad157;
  left: 20px;
  top: 15px; 
  z-index: -10;
}

.text-hover-green:hover{
  color:#4ad157;
  transition: 0.5s;
}

.scale-hover:hover{
  transform: translateX(10px) scale(1.2);
  transition: 0.5s;
}

@media (max-width: 1024px){
  .contour-container{
  flex-direction: column;
  }

  .contour-container .img-div {
    width: 350px;
    height: 210px;
    margin: 5rem;
  }
  
  .contour-container .textos {
    width: 350px;
    /* height: 210px; */
  }
  
  .contour-container .img-div img {
    width: 350px;
    height: 210px;

  }
}


@media (max-width: 768px){
  

  .contour-container .img-div {
    width: 300px;
    height: 180px;
    margin: 2rem;
  }
  
  .contour-container .textos {
    width: 300px;
    /* height: 180px; */
  }
  
  .contour-container .img-div img {
    width: 300px;
    height: 180px;

  }
}

@media (max-width: 425px){
  .contour-container .textos{
  width: 180px;
  }
}

@media (max-width: 375px){
 
  .contour-container .img-div {
    width: 220px;
    height: 140px;
    margin: 2rem;
  }
  
  .contour-container .textos {
    width: 220px;
    /* height: 140px; */
    margin: 4rem 0;
  }
  
  .contour-container .img-div img {
    width: 220px;
    height: 140px;
  }
}