.align_center_index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}
.align_center_index h1{
        font-size: 7.5em;
        margin: 15px 0px;
        font-weight:bold;
}
.align_center_index h2{
    font-weight:bold;
}
.align_center_index p{
    padding: 3rem  4rem;
    margin-bottom: 1rem;
}


/*Botão*/
.btn_green_index{
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
}
.btn_green_index {
      border: 4px solid #3b9444;
      color: #222222;
}
.btn_green_index:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background: #3b9444;
        z-index: -1;
        transition: 0.2s ease;
}
.btn_green_index:hover {
        color: #ffffff;
        background:#3b9444;
        transition: 0.2s ease;
}
.btn_green_index:hover:before {
    width: 100%;
}
     
