.archive_page{
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
}
.archive_page_title{
    color: #000000;
    font: normal normal bolder 2rem 'Montserrat';
    align-self: center;
    padding:4rem 0;
}
.archive__files{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
}
.archive_filter_itens ul{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.link_archive_projeto{
    text-decoration: none;
}
.link_archive_projeto:visited{
    color:#000000 ;
}
.archive_filter_itens ul li{
    border: 1px solid #C4C4C4;
    background-color: rgba(255,255 ,255, .50);
    border-radius: 15px;
    padding: 13px 31px;
    cursor: pointer;
    text-transform: uppercase;
    font: normal normal bolder 1rem 'Montserrat';
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}

.archive_filter_itens ul li:hover{
    color: #ffffff;
    font-weight: bold;
    background:#4AD157;
    transition: 0.3s ease-in-out;
}
.active li{
    color: #ffffff;
    background-color:#3b9444 !important;
}

.archive_projects_files{
    max-width: 56.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 2.5rem;
}
.archive_projects_files a{
    text-decoration: none;
    /* color: #4AD157; */
}
.archive_projects_files a:hover{
    transform: translateX(10px) scale(1.1);
    transition: 0.5s;
}
.archive_projects_files a h2{
    color: #4AD157;
    text-transform: uppercase;
    font-size:normal normal bolder 1.125rem 'Montserrat' ;
    align-self: center;
    padding: 2rem 0;
}
.archive_project_single_file{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
    width: 14rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    background-color: #FAFAFA;
    border-radius: 10px;
}
.img_archive_file{
    border-radius: 10px;
    height: 9rem; 
    width: 100%;
    display: block;
    /* width: 14rem; */
}
.coming_soon{
    font-size: 2rem;
    color: #4AD157;
    font-weight: bold;
    padding: 15rem;
}
.pagination_box{
    padding-bottom: 5rem;
}
.pagination_box ul{
    display: flex;
    gap: .8rem;
}
.pagination_box ul li{
    color: #3B9444;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}
.pagination_box ul li a{
    text-decoration: none;
    font-size: 1rem;
}
/*RESPONSIVIDADE*/
@media (max-width: 1000px) and (min-width:830px){
    .archive_page{
        padding-left: 10rem;
    }
}
@media (max-width: 830px) and (min-width:650px){
    .archive_page{
        padding-left: 7.5rem;
    }
}
@media (max-width: 800px) and (min-width:650px){
    .archive_page{
        padding-left: 5rem;
    }
    .archive_filter_itens ul{
        flex-direction: column; 
    }
    .archive_filter_itens ul li{
        width: 30rem;
        text-align: center;
    }
}
@media (max-width: 650px){
    .archive_filter_itens ul{
        flex-direction: column;
    }
    .archive_filter_itens{
        align-self: center;
    }
    .archive_filter_itens ul li{
        width: 10rem;
        text-align: center;
    }
    .archive_page{
        padding-left: 3rem;
    }
    .archive_projects_files{
        flex-direction: column;
    }
}
@media (max-width: 350px){
    .archive_page{
        padding-left: 4rem;
    }   
}