footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background-color: black;
  /* font-family: 'Poppins' */
  color: white
}

footer > section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem 5rem
}

.contato {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright {
  align-self: center;
  font-weight: lighter;
  margin: 3rem 0 1.5rem 0;
}

.tel, .email {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0
}

.email-form {
  display: flex;
  flex-direction: column; 
}

/* .email-form h3 {
   text-align: start; 
} */

/* .email-form input {
  background-color: black;
  border: 2px solid #3B9444;
  border-radius: 3px;
  margin: 5px 5px 5px 0;
  max-width: 20rem;
  color: white;
  padding: 0 10px;
  height: 1.5rem;
} */

/* .enviar-btn {
  background-color: #3B9444 !important;
  color: white  !important;
  height: 2rem !important;
  width: 7rem !important;
  border-radius: 4px !important;
  border: none !important;
  font-size: 0.875rem !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  padding: 0 1rem !important;
  padding-left:1rem !important;
} */