
.field_form_input{
    display: flex ;
    padding: .5rem 0 ; 
}
.field_form_input span{
    display: none !important;
}
.field_form_textarea span{
    display: none !important;
}
.field_form_textarea{
    display: flex ;
    padding: .5rem 0 ; 
}
.field_form_textarea textarea{
    border: 2px solid #4AD157 !important;
    border-radius: 2px !important;
    resize: none !important;
    width: 552px !important;
    font-size: 1rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form_gap_name{
    gap: 1.5rem;
}
.form_gap_email{
    gap: 1.3rem ;
}
.form_gap_phone{
    gap: .35rem;
}
.form_gap_textarea{
    gap: 1rem;
}
/* .formulario div form div{
    width: 730px !important;
} */
.field_form_input input {
    border: 2px solid #4AD157 !important;
    border-radius: 2px !important;
    width: 800px !important;
}
.field_form_textarea label{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.125rem;
}
.field_form_input label{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.125rem;
}
.button_send_formDuvidas:hover{
    transform: translateX(10px) scale(1.2);
    transition: 0.5s;
}
.button_send_formDuvidas{
    margin-bottom: 5% !important;
    margin-left: 15rem !important;
    background-color: #4AD157 !important;
    border: none !important;
    border-radius: 2px;
    color: white !important;
    padding: 9px 23px !important;
}
.formulario div{
    justify-content: center;
}
@media screen and (max-width: 900px) and (min-width:600px)  {
    .field_form_input{
        flex-direction: column;
        gap: 0;
    }
    .field_form_input label{
        align-self:flex-start;
        padding-left:20% !important;
    }
    .field_form_textarea{
        flex-direction: column;
        gap: 0;
    }
    .field_form_textarea label{
        align-self:flex-start;
        padding-left:20% !important;
    }
    .field_form_textarea textarea{
        width: 480px !important;
    }
    .formulario div{
        align-items: center;
    }
    .button_send_formDuvidas{
        margin-left: 10rem !important;
    }
}
@media screen and (max-width: 600px){
    .field_form_input{
        flex-direction: column;
        gap: 0;
    }
    .field_form_input input{
        width: 300px !important;
    }
    .field_form_input label{
        padding-left:0 !important;
    }
    .field_form_textarea{
        flex-direction: column;
        gap: 0;
    }
    .field_form_textarea textarea{
        width: 300px !important;
    }
    .field_form_textarea label{
        padding-left:0 !important;
    }
    .button_send_formDuvidas{
        margin-left:0 !important ;
    }
} 