.email_cadastro_form input{
    background-color: black !important; 
    border: 2px solid #3B9444 !important;
    min-width: 300px !important;
    color: #FFFFFF !important;
}
.email_cadastro_form input::placeholder{
    color: rgba(255, 255, 255, .75)  !important;
}

.form_cadastro_completo form{
    display: flex !important;
    gap: 20px;
}
.enviar-btn {
    background-color: #3B9444 !important;
    color: #FFFFFF !important;
    padding: 9px 23px;
    border-radius: 2px !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 0.875rem !important;
    text-transform: uppercase !important;
    /* height: 2rem !important;
    width: 7rem !important;
    padding: 0 1rem !important;
    padding-left:1rem !important; */
}
@media screen and (max-width: 460px) {
    .form_cadastro_completo form{
        flex-direction: column;
        gap: 0;
    }
}