
.formulario {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formulario h1 {
  padding: 40px;
}

.grid {
  padding-left: 10px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 100px 50vw;
  gap: 20px 0px;
}

#enviar {
  width: 150px;
  margin-bottom: 5%;
  background-color: #4AD157;
  border: none;
  color: white;
}

.formP {
  border: 2px solid #4AD157;
}

#mensagem {
  height: 97px;
}