
header {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  box-sizing: border-box;
  background-color: #F1F5F1;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 5rem 0.625rem 5rem ;/*cima direita baixo esquerda*/
  top: 0;
  z-index: 10;
} 

.Header2 a {
  transition: 0.5s ease-in-out;

}

.Header2 a:hover {
  color: #4ad157;
  transition: 0.5s ease-in-out;
}

.logoHeader {
  height: auto;
  width: 20vw;
  max-width: 80px;
}

.botao {
  color: black;
  text-decoration: none;
  padding-right: 1rem;
}

.space {
  width: 100%;
  height: 40px;

}

.btn_menu{
  display: none;
}
@media screen and (max-width: 1200px) {

  .btn_menu{
    display: flex;
    /* display: block; */
    cursor: pointer;
    border: none;
    background: none;
  }
  .Header2{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0;
    background-color: #f1f5f1;
    height: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: all .2s ease-out;
  }
  #nav_bar.active .Header2{
    height: 27vh;
    visibility: visible;
    overflow-y: auto;
  }
  .Header2 a{
    display: block;
    padding: 1rem 0;
    text-align: center;
    /* border-bottom: 2px solid rgb(74, 209, 87,0.5); */
    width: 80%;
  }
  .Header2 a:hover{
    color: black;
    background: rgb(74, 209, 87,0.5);
    transform:scale(1.2);
  }
  #hamburguer{
    display: block;
    border-top: 2px solid;
    width: 30px;
  }
  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: currentColor;
    margin-top:7px ;
    transition: .3s;
    position: relative;
  }
  #nav_bar.active #hamburguer {
    border-top-color: transparent;
  }
  #nav_bar.active #hamburguer::after{
    transform: rotate(-135deg);
    top:-8px ;
  }
  #nav_bar.active #hamburguer::before{
    transform: rotate(135deg);
  }
  
  
  }

/* 
@media screen and (max-width: 420px) {
  .botao {
    font-size: 0.6rem;
    padding-right: 0px;
  }

  .Header2 {
    padding-right: 2%;
  }
} */