.main-noticias {
    background-color: #e5e5e5;
}

.MainNews_page_title{
    text-align: center;
    font:normal normal 600 2rem 'Montserrat';
    padding:3rem 0 3rem 0;
}

/* ********************************************************** */

.allMyNews{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    padding:0 0 4rem 0;
}

/* ********************************************************** */
.postsNews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.post01News{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 2rem; */
    gap: 1rem;
}


.descriptionPostNews{
    white-space: pre-line;
    overflow: word-break;
    padding:0 7rem  0 0;
    /*  acima    1em  padding  */
    /*  direita  3px  padding  */
    /*  abaixo   30px padding  */
    /*  esquerda 5px  padding  */
}
.linkNews{
    font: normal normal 600 1.5rem 'Montserrat';
    line-height:1.8rem;
}

.postsNews a {
    text-decoration: none;
}

.post01News p{
    text-decoration: none;
    color: #4AD157;
    overflow:break-word;
}
.data_create{
    font: normal normal 400 1rem 'Montserrat';
    color:#333333;
}
.lineMainNews{
    background: #C4C4C4;
    height: 2px;
    max-width: 90%;
}

/* ********************************************************** */

.interestingNews{
    display: flex;padding: 0;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding: 1rem 1rem 2rem 1rem;
    gap:0.5rem ;
    min-width: 17rem;
}
.interestingNews h2{padding: 0;
    color: #000000;
    font:normal normal 500 1rem 'Poppins';
    padding:0.5rem 0 0 0;
}  

.interestingNews01{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding:2rem 0 1rem 0; 
}

.linkInterestingNews {
    min-width: 6rem;
    max-width: 10rem;
}

.linkInterestingNews p{
    text-decoration: none;
    font: normal normal 600 1rem 'Montserrat';
    color: #4AD157;
    white-space: pre-line;
}
.line{
    background:#C4C4C4;
    height: 2px;
}

.img_post_mainNews > img{
    width: 441px;
    height: auto;
}

.img_card_interestingNews > img {
    width: 150px;
    height: 100px;
}

.carouselVideoNews {
    padding: 3rem 0;
}

#news_carousel {
    display: flex;
    justify-content: space-around;
}

.cardLastNewCarousel {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem 1rem 0;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
        min-width: 150px;
    min-height: 300px;
    background: #FAFAFA;
    padding: 1.5em 2em ;
    position: relative;
    
}

.cardLastNewCarousel:hover{
    transform: perspective(20px);
}

.cardLastNewCarousel img {
    max-width: 142px;
    height: auto;
    border-radius: 4px;
}
.cardLastNewCarousel a{
    text-decoration: none;
    color:#4ad157;
}
.cardLastNewCarousel a:visited{
    color: #4ad157;
}
.cardLastNewCarousel a:active{
    color: #4ad157;
}
.imgLastNewsCardCarousel {
    display: flex;
    justify-content: center;
}

.linkLastNewsCardCarousel a {
    color: #4AD157;
    text-decoration: none;
    /* padding: 1rem 0; */
}


.linkLastNewsCardCarousel p {
    padding-top: 1rem;
    
}
.slick-track {
    display: flex;
    max-height:200px ;
}

.slide-arrow-2 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border: none;
    height: 100%;
    width: 3rem;
    z-index: 7;
}

.next-arrow-2 {
    right: 0;
    background-image: url("../imgs/whiteArrowRight.png");
    background-repeat: no-repeat;
    background-position: center;
}

.prev-arrow-2 {
    background-image: url("../imgs/whiteArrowLeft.png");
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
}


@media screen and (max-width: 1024px){
    .postNew{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 2rem;
    }
    /* .descriptionPostNews{
        padding:0 0 1rem 5rem;
        white-space: normal;
    } */
    /* .lineMainNews{
        margin: 1rem;
    } */
}
@media screen and (max-width: 768px){
   .interestingNews01 {
        flex-wrap: wrap-reverse;
   }
   .post01News {
       
       /* text-align: center; */
       padding: 0;
       justify-content: center;
   }
   .descriptionPostNews {
       padding: 0;
   }

   .lineMainNews {
       max-width: 100%;
   }
}

@media screen and (max-width: 768px){
   .interestingNews01 {
        flex-wrap: wrap-reverse;
   }
}