.projetos-list-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    padding-top: 1rem;
}
.projetos-list-home a{
    color: #4ad157;  
    font-weight: 500;
    transition: 0.5s;
    width: fit-content;
    font-family: 'Montserrat';
    font-weight: 600;
}

#see-more{
    color: #097969;
    text-transform: uppercase;
}

.nossos-projetos-home {
    background-color: #f1f5f1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    /* padding: 40px 40px; */
    margin: 0 auto;
 
}

.nossos-projetos-home h1 {
    text-align: center;

}

.sobre-nos-home h1 {
    text-align: center;
}
