.projeto {
    padding-bottom: 2rem;
}

.projeto h1{
    text-align: center;
    padding: 3rem;
}

.texto-projeto {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
    overflow-wrap: break-word;
}

.participantes-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}
.participantes-header{
   align-self: flex-start;
   font-size: 1.5rem;
   font-weight: 600;
}
.participantes{
    display: flex;
    max-width: 960px;
    gap: 70px;
    align-content: center;
    flex-wrap: wrap;
}

.info-cara{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-cara a {
    text-decoration: none;
}

.cara-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

}

.cara-texto p {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat';
}

.cara-texto span {
    font-size: 0.81rem;
    padding-top: 0.5rem;
    font-weight: 400;
}

.img-cara-div{
    width: 97px;
    height: 100px;
    position: relative;
    z-index: 1;
}

.img-cara-div::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    border: 4px solid #4ad157;
    border-radius: 5px;
    left: 5%;
    top: 5%; 
    z-index: -10;
}

.img-cara-div img{
    width: 96px;
    height: 100px;
}

/* video slider */
.videos {
    background-color: #f1f5f1;
    padding-bottom: 3rem;
}

.videos h1 {
    text-align: center;
    padding: 3.5rem;
}



.slick-track > div{
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    text-align: center;
}
.slick-slide{
    width: 20px;
}

#photoshoots_carousel {
    display: flex;
    flex-direction: row;
    
}

.div-videos {
    align-content: center;
}

.video-name {
    text-align: center;
    font-weight: bold;
}


.div-iframe{
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}

.div-iframe::before{
    content: "";
    position: absolute;
    width: 72%;
    height: 95%;
    border: 4px solid #4ad157;
    border-radius: 5px;
    right: 10%;
    top: 5%; 
    z-index: -10;

}


.prev-arrow{
left: -40px;
width: 20px;
height: 40px;
background-image: url(
'../imgs/arrowLeft.png');
background-size: cover;
background-color: #f1f5f1;
border: none;
margin: 50px;
}
.next-arrow{
right: -40px;
width: 20px;
height: 40px;
background-color: #f1f5f1;
background-image: url(
'../imgs/arrowRight.png');
background-size: cover;
border: none;
margin: 50px;
}


.podcasts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px 0;
}

.formularios {
    background-color: #f1f5f1;
}

.listas {
    display: flex;
    align-items: center;
    overflow: hidden;
    align-items: flex-start;
    max-height: 200px;
    margin: 5px 0;

}

@keyframes smooth {
  
    to {max-height: 100%;}
}



.listas.active {
    height: auto;
    animation: smooth 0.4s linear forwards;
}

.listas.active ul {
padding-bottom: 50px;
}

.listas ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)) ;
    max-width: 900px;
    /* flex-direction: column; */
    /* justify-content: center;
    list-style-type: none;
    text-decoration: none; */
    /* padding: 0 100px; */
    gap: 1rem 5rem;
    flex-wrap: wrap;
    justify-items: center;
    
}

.listas li {
    text-align: center;
    align-self: center;
    padding-top: 0.8rem;
    width: 8rem;
    color: #3b9444;
    text-decoration:underline;
    /* z-index: -0; */
}

/* .listas li a:visited {
    color: inherit;
} */

.esconde {
    width: 100%;
    background-color: #FFFF;
    background: linear-gradient(360deg, #FFFFFF 13.66%, rgba(255, 255, 255, 0) 105.25%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}

.esconde-formularios {
    width: 100%;
    background-color: #FFFF;
    background: linear-gradient(360deg, #f1f5f1 13.66%, rgba(255, 255, 255, 0) 105.25%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}


.listas.active + .esconde{
    height: 0;
}

.botaoEsconder {
    width: 12rem;
    height: 1.5rem;
    margin-top: 80px;
    background: #4AD157;
    border: none;
    color: white;
    position: relative;
}

@media (max-width: 425px){
    .listas ul{
        width: 200px;
        
    }
    /* @keyframes smooth {
  
        to {max-height: 100%;}
    }
     */
    
    
    /* .listas.active {
        height: auto;
        animation: smooth 0.4s linear forwards;
    } */

}


/* VIDEOS */





  

@media (max-width: 1210px){
    .container{
        align-items: center;
        justify-content: center;
    }
    .img-div{
        order: 1;
    }
    .textos{
        order: 2;
    }
    .div-iframe::before{
        width: 90%;
        height: 95%;
        right: -1%;
    }
}

@media (max-width: 780px){
    .div-iframe::before{
        width: 88%;
        height: 95%;
        right: 0%;
    }
}

.flex-control-nav {
    top: 90%;
}

.flex-control-paging li a {
    /* background: grey !important; */

}

.flex-active {
    background: #4ad157 !important;

}