.faq_page_title{
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    padding: 8rem 0 0.2rem 0;
}
.espacamento{
    padding: 2rem 10%;
}
.espacamento{
    margin-bottom: 10rem;
}
.allQuestions{
    border: 2px solid #4AD157;
    border-bottom:none;
    border-radius:4px;
}
.individualsQuestions{
    border-bottom: 2px solid #4AD157;
    padding: 1rem 4rem 1rem 4rem;
    /*  acima    1em  padding  */
    /*  direita  4rem  padding  */
    /*  abaixo   1rem padding  */
    /*  esquerda 4rem  padding  */
}
.individualsQuestions h2{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 500;
}
.titleQuestion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.imgQuestion{
    align-self: center;
    transition: transform 0.2s ease-in-out;
}
/* Usado para rotacionar a imagem */
.rotate{
    transform: rotate(180deg);
}
.descriptionQuestion{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.descriptionQuestion p{
    padding: 2rem 0;
    font-weight: 400;
    font-size: 1rem;
}