html{
    scroll-behavior: smooth !important;
}
.page_exhibition_background{
    background-color: #EAEAEA;
}
/* **************************************************************** */
.page_exhibition_titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.newExibicion_description_title{
    font: normal normal  700 3rem 'Montserrat';
    text-align: justify;
    color: #4ad157;
    white-space: pre-line;
    line-height:4rem;
    overflow: word-break;
}
.page_exhibition_titles{
    padding: 1rem   ;
}
.newExibicion_description_subtitle{
    font: normal normal 500 1.5rem 'Montserrat';
    /* line-height:2.5rem; */
    text-align: justify;
    color: #333333;
    overflow: word-break;
}
.newExibicion_description_data{
    font: normal normal 500 1rem 'Montserrat';
    text-align: justify;
    color: #333333;
    overflow: word-break;
}

.newExibicion_description_data,.newExibicion_description_subtitle{
    padding:1rem 0;
}
.newExibicion_description_line{
    background: #C4C4C4;
    height:2px;
}
/* ******************************* */

.page_exhibition_description{
    display: flex;
    flex-direction: column;
    padding:2rem 20%;
}
.newExibicion_description_imgP{
    display: flex;
    flex-direction: row;
    padding:1rem;
}
.newExibicion_description_{
    max-width:100%;
    height:auto;
}
.newExibicion_description_P p{
    font:normal normal 500 1.125rem 'Montserrat';
    padding: 1.5rem;
    white-space: pre-line;
    overflow:word-wrap;
}
.newExibicion_description_img img{
    height:auto;
    max-width: 100%;
}
/* **************************************************************** */
.lastNewsTitle{
    text-align: center;
    font: normal normal 600 2rem 'Montserrat';
    color: #000000;
    /* padding:0 0 3rem 0; */
}

.lastNewsCards{
    padding:3% 20% 5% 20%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 5rem;
}
.lastNewsCards a{
    text-decoration: none;
    color:#4ad157;
}
.lastNewsCards a:visited{
    color: #4ad157;
}
.lastNewsCards a:active{
    color: #4ad157;
}
.cardLastNew{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #C4C4C4;
    background: #FAFAFA;
    padding:2rem;
}
.imgLastNewsCard{
    display:flex;
    flex-direction: row;
    align-self: center;
}
.imgLastNewsCard img{
    max-width: 100%;
    height: auto;
}
.linkLastNewsCard{
    display:flex;
    flex-direction: row;
    align-self: center;
    padding:0 0 1rem 0;
}
.linkLastNewsCard p a{
    text-decoration: none;
    color: #4AD157;
    font: normal normal 600 1rem 'Montserrat';
    white-space: pre-line;
}   


/* *************MEDIA*************** */
@media screen and (min-width:1100px) and (max-width:1500px){
    .newExibicion_description_P{
        display: flex;
        flex-direction: row;
        overflow: word-break;
    }
}
@media screen and (max-width:1100px){
    .cardLastNew{
        padding:1rem;
    }
    .linkLastNewsCard{
        padding:0;
    }
    .linkLastNewsCard p a{
        white-space: normal;
        font-size: 0.9rem;
    }
    .page_exhibition_titles{
        display: flex;
        flex-direction: column;
    }
    .newExibicion_description_subtitle{
        font-size:1rem;
    }
    .newExibicion_description_title{
        white-space:normal;
        font-size: 2rem;
        line-height:normal ;
    }
    .newExibicion_description_imgP{
        display:flex;
        flex-direction: column;
    }
    .newExibicion_description_P p{
        padding:1rem 0;
    }
}
@media  screen and (max-width:800px){
    .lastNewsCards{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 3rem;
    }
    .linkLastNewsCard{
        padding:0 2rem;
    }
    .linkLastNewsCard p a{
        white-space: normal;
        font-size: 1.5rem;
    }
}
@media  screen and (max-width:500px){
    .linkLastNewsCard{
        padding:0 1rem;
    }
    .linkLastNewsCard p a{
        white-space: normal;
        font-size: 1.2rem;
    }
}