.taxonomy_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20rem;
}
.taxonomy_box h1{
    font: normal normal bold 2rem 'Montserrat';
    text-transform: uppercase;
}
.taxonomy_box a button{
    text-transform: uppercase;
}